body {
    margin: 0;
    padding: 0;
    color: white;

}
/* нище - стилі для header  */
.header {
    grid-area: header;
    background-color: black;
    padding-top: 10px;
    height: 90px;
}
.content {
  width: 80%;
  margin: 0 auto;
  display: table;

}
.header-flex {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.logo {
    font-size: 60px;
    text-transform: uppercase;
    vertical-align: middle;
    padding-right: 130px;
}
.header-links1 {
margin-top: 10px;
    position: relative;
    min-width: 130px;
    white-space: nowrap;
}
.header-links2 {
    margin-top: 10px;
    position: relative;
    min-width: 270px;
    white-space: nowrap;
}
.header-links3 {
    margin-top: 10px;
    position: relative;
    min-width: 180px;
    white-space: nowrap;
}
.buyimg {

 width: 60px;
}

.emailimg {
    width: 60px;
}

.phoneimg {
    width: 60px;
}
.buy,
.email,
.phone {
    position: absolute;
    top: 20px;
    left: 60px;
}
.header a{
        color: white;
        text-decoration: none;
    }
/* вище - стилі для header  */









.main-img {
    grid-area: main-img;
    width: 100%;
    height: 700px;
    background: url("../img/main-img.jpg") no-repeat;
    background-size: cover;
    position: relative;
}
.main-img span {
    color: #000000;
    font-size: 40px;
    font-family: 'Algeria';
    position: absolute;

}
.main-slogan1 {
    transform: rotate(-10deg);
    top: 80px;
    left: 20px;
}
.main-slogan2 {
    transform: rotate(10deg);
    top: 170px;
    left: 600px;
}
/* нище стилі для менюшки*/
.main-menu {
    grid-area: main-menu;
    background-color: black;
    padding-top: 10px;
    height: 75px;
}

.main-menu p {
    font-size: 36px;
display: table-cell;
    vertical-align: middle;
    padding-left: 40px;

}
.menu-container {
    margin-left: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.main-menu a {
    color: white;
}
.item-menu{  /* Це елементи меню*/
     background-color: rgba(16, 112, 163, 0.7);
    margin-top: 12px;
    margin-right: 40px;
    height: 30px;
    width: 100px;
   display: inline-block;
    text-align: center;
    padding-top: 10px;
    float: right;
	font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #212020;
} /* Категорії */
.item-menu:hover {
    box-shadow: 0 -5px #212020 inset;
    transform: scale(1.1);
	opacity: 0.95;
}
.menu-item1 {

}
.menu-item2 {
    background-color: rgba(253, 191, 1, 0.7);

}
.menu-item3 {
    background-color: rgba(53, 253, 13, 0.7);
}
.menu-item4 {
    background-color: rgba(253, 86, 31, 0.7);

}
.menu-item5 {
    background-color: rgba(253, 7, 200, 0.7);
}
/* вище стилі для менюшки*/
/* Нище стилі для категорій*/
.item1 {
    width: 100%;
    background-color: #0B4F72;
    height: 70px;
    text-align: center;
     padding-top: 15px;
    text-transform: uppercase;
}
.item1 span {
   font-size: 40px;
}
.item2 {
    width: 100%;
    background: #B28601;
    height: 70px;
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
}
.item2 span {
    font-size: 40px;
}
.item3 {
    width: 100%;
    background:  #25B209;
    height: 70px;
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
}
.item3 span {
    font-size: 40px;
}
.item4 {
    width: 100%;
    background:  #B23C16;
    height: 70px;
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
}
.item4 span {
    font-size: 40px;
}
.item5 {
    width: 100%;
    background:  #B2058C;
    height: 70px;
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
}
.item5 span {
    font-size: 40px;
}
/* Вище стилі для категорій*/

.content-in-content {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* Розділ з фотіками*/
.item1-staf {
    margin: 0 auto;
    width: 300px;
    height: 338px;
    box-sizing: border-box;
    border: 2px solid red;
    text-transform: uppercase;
    position: relative;

}
.camera1,
.camera2,
.camera3,
.camera4,
.camera5,
.camera6 {
border-radius: 20px;
    background: linear-gradient(to top, #c9c9c9, white);
    overflow: hidden;
    border: none;

}
.item1-staf .item-staf-img-container{
   position: relative;
    width: 300px;
    height: 228px;

}

.camera1 img,
.camera2 img,
.camera3 img,
.camera4 img,
.camera5 img,
.camera6 img {
    left: 15px;
position: absolute;
    display: none;
}
.curry {
    display: inline!important;

}
.camera1 .name,
.camera2 .name,
.camera3 .name,
.camera4 .name,
.camera5 .name,
.camera6 .name{
    color: black;
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 20px;

}
.camera1 .description,
.camera2 .description,
.camera3 .description,
.camera4 .description,
.camera5 .description,
.camera6 .description{
    margin: 0;
    color: white;
    font-family: monospace;
    font-size: 23px;
    background-color: black;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    height: 60px;
    cursor: pointer;

}
.full-description {
    width: 300px;
    height: 118px;
    position: absolute;
    top: 200px;
    background-color: black;
    padding-top: 20px;
    text-align: center;
    display: none;
}


.price {
    position: absolute;
    color: red;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid red;
    padding: 2px 6px;
    border-radius: 11px;
    top: 15px;
    right: 10px;
    transform: rotate(-15deg);
}

.slaider-left {
    position: absolute;
    top: 45%;
    left: 10px;
    width: 20px;
    height: 20px;
    border-top: 5px solid red;
    border-right: 5px solid red;
    transform: rotate(-135deg);
    z-index: 1000;
    cursor: pointer;
    display: none;
}
.slaider-right {
    position: absolute;
    top: 45%;
    right: 10px;
    width: 20px;
    height: 20px;
    border-top: 5px solid red;
    border-right: 5px solid red;
    transform: rotate(45deg);
    z-index: 1000;
    cursor: pointer;
    display: none;
}
/* Розділ з обєктивами*/
.item2-staf {
    margin: 0 auto;
    width: 300px;
    height: 338px;
    box-sizing: border-box;
    border: 2px solid red;
    position: relative;
    text-transform: uppercase;
}
.lens1,
.lens2,
.lens3,
.lens4,
.lens5{
    border-radius: 20px;
    background: linear-gradient(to top, #c9c9c9, white);
    overflow: hidden;
    border: none;

}
.lens1 img,
.lens2 img,
.lens3 img,
.lens4 img,
.lens5 img {
    margin: 12px;
    margin-bottom: 5px;
}

.lens1 .name,
.lens2 .name,
.lens3 .name,
.lens4 .name,
.lens5 .name{
    color: black;
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 20px;

}
.lens1 .description,
.lens2 .description,
.lens3 .description,
.lens4 .description,
.lens5 .description {
    margin: 0;
    color: white;
    font-family: monospace;
    font-size: 23px;
    background-color: black;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    height: 60px;
    cursor: pointer;
}
.lens4 {
    padding-top: 35px;
}
.lens3 img {
    height: 150px;
    padding-bottom: 17PX;
}
.lens3 {
    padding-top: 40px;
}
.lens5 img {
    height: 200px;
    margin-left: 25px;

}
.lens5 {
    padding-top: 10px;
}
.lens1 img {
    height: 210px;
    margin-left: 45px;

}
.lens2 img {
    height: 210px;
    margin-left: 70px;

}
/* Розділ з штативами*/
.item3-staf {
    margin: 0 auto;
    width: 300px;
    height: 338px;
    box-sizing: border-box;
    border: 2px solid red;
    position: relative;
    text-transform: uppercase;
}
.tripod1,
.tripod2{
    border-radius: 20px;
    background: linear-gradient(to top, #c9c9c9, white);
    overflow: hidden;
    border: none;

}
.tripod1 img,
.tripod2 img{
    margin: 12px;
    margin-bottom: 5px;
}

.tripod1 .name,
.tripod2 .name{
    color: black;
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 20px;

}
.tripod1 .description,
.tripod2 .description{
    margin: 0;
    color: white;
    font-family: monospace;
    font-size: 23px;
    background-color: black;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    height: 60px;
    cursor: pointer;
}
.tripod2 img {
    margin-top: 82px;
    margin-bottom: 82px;
}
.tripod1 img {
    margin-top: 52px;
    margin-bottom: 52px;
}
/* Розділ з вспишками*/
.item4-staf {
    margin: 0 auto;
    width: 300px;
    height: 338px;
    box-sizing: border-box;
    border: 2px solid red;
    position: relative;
    text-transform: uppercase;
}
.outbreak1,
.outbreak2,
.outbreak3,
.outbreak4 {
    border-radius: 20px;
    background: linear-gradient(to top, #c9c9c9, white);
    overflow: hidden;
    border: none;

}
.outbreak1 img,
.outbreak2 img,
.outbreak3 img,
.outbreak4 img {
    margin: 12px;
    margin-bottom: 5px;
    height: 230px;
}

.outbreak1 .name,
.outbreak2 .name,
.outbreak3 .name,
.outbreak4 .name {
    color: black;
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 20outbreak
}
.outbreak1 .description,
.outbreak2 .description,
.outbreak3 .description,
.outbreak4 .description {
    margin: 0;
    color: white;
    font-family: monospace;
    font-size: 23px;
    background-color: black;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    height: 60px;
    cursor: pointer;
}
.outbreak1 img {
    margin-left: 85px;
}
.outbreak2 img {
    margin-left: 80px;
}
.outbreak3 img {
    margin-left: 35px;
}
.outbreak4 img {
    margin-left: 70px;
}

/* Розділ з всяким іншим*/
.item5-staf {
    margin: 0 auto;
    width: 300px;
    height: 338px;
    box-sizing: border-box;
    border: 2px solid red;
    position: relative;
    text-transform: uppercase;
}
.accessory1,
.accessory2,
.accessory3{
    border-radius: 20px;
    background: linear-gradient(to top, #c9c9c9, white);
    overflow: hidden;
    border: none;

}
.accessory1 img,
.accessory2 img,
.accessory3 img {
    margin: 12px;
    margin-bottom: 5px;
    height: 230px;
}

.accessory1 .name,
.accessory2 .name,
.accessory3 .name {
    color: black;
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 20outbreak
}
.accessory1 .description,
.accessory2 .description,
.accessory3 .description {
    margin: 0;
    color: white;
    font-family: monospace;
    font-size: 23px;
    background-color: black;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    height: 60px;
    cursor: pointer;
}
.accessory1 img {
    margin-left: 75px;
}
.accessory2 img {
    margin-left: 25px;
}
.accessory3 img {
    margin-left: 70px;
}
/* нище - стилі для footer  */
.footer{
    grid-area: footer;
    background-color: black;
  position: relative;
   height: 100px;
}
.footer-flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-logo {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 30px;
}
.social-icons {
    margin-top: 30px;

    display: inline-block;

}
.social-icon {
    width: 35px;
    height: 35px;
    display: inline-block;
    padding-left: 20px;

}
.social-icon:hover {
    transform: scale(1.05);
}
.twiter {
    background: url("../img/twitter.png") no-repeat;
    background-size: contain;
}
.inst {
    background: url("../img/inst.png") no-repeat;
    background-size: contain;
}
.facebook {
    background: url("../img/facebook.png") no-repeat;
    background-size: contain;
}
.madeby {
    font-family: cursive;
    font-size: 18px;
    margin-top: 30px;

}
.top {
    display: none;
    border: 0;
    border-top: 6px solid black;
    border-right: 6px solid black;
    transform: rotate(-45deg);
    background-color: transparent;
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 100px;
    right: 35px;
    outline: none;
    cursor: pointer;
}
.top:hover {
    transform: scale(1.2) rotate(-45deg);
    border-color: #212020;
}
/* вище - стилі для footer  */
