.body{
    margin: 0;
    padding: 0;
}

.home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #EDFF90;
    font-size: 50px;
    font-family: 'Cyrillic';
    text-align: center;
}
.view-work {
    margin: 0 auto;
    margin-top: 30px;
     font-size: 30px;
    color: #131119;
   border: 2px solid  #131119;
    width: 210px;
    padding: 7px 20px;
    cursor: pointer;
    position: relative;
}
.view-work:hover {

    transform: scale(1.05);
    background-color: #38821B;
    color: #EDFF90;
    border: 2px solid #EDFF90;
}
.view-work div {
    display: inline-block;
      position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(90deg);
    color: #131119;
}
.view-work div:hover {
    transform: rotate(180deg);
    color: #EDFF90;
}
